<? include ./partials/header ?>
            <a href="/" class="item">
                <i class="home icon"></i>
                Home
            </a>
            <a href="/blogs/archive" class="item">
                <i class="archive icon"></i>
                Archive
            </a>
            <a href="/blogs/about-contact" class="active item">
                <i class="building icon"></i>
                About & Contact
            </a>
            <a href="/blogs/new" class="item">
                <i class="plus square icon"></i>
                New Post
            </a>
            
        </div>
    </div>

    <div class="ui main text container" id="content">

        <div class="ui huge block header">
            About & Contact
        </div>

        <div class="ui two column very relaxed grid">
            <div class="column">
                <div class="ui segment">
                    <div class="ui item">
                        <p>Pede ac, inceptos etiam, deleniti modi, hac sociosqu pharetra! Gravida augue, fames aenean officia excepteur habitasse aptent perferendis non maxime.</p>

                        <p>Rutrum beatae dolore curae hendrerit dui pharetra, quis sunt? Luctus do aliquam mollitia quia aliquip dignissimos repudiandae ullamcorper iaculis dolorum.</p>
                        
                        <p>Voluptates quod deserunt nunc eleifend diam proident ullam placeat eaque perspiciatis repellat, aspernatur iste, malesuada quasi excepturi? Sit nobis penatibus.</p>
                    </div>
                </div>
            </div>
            <!-- <div class="ui vertical divider">
                <span class="divider">and</span>
            </div> -->
            <div class="column">
                <div class="ui segment">
                    <div class="ui item">
                        <p>Pede ac, inceptos etiam, deleniti modi, hac sociosqu pharetra! Gravida augue, fames aenean officia excepteur habitasse aptent perferendis non maxime.</p>

                        <p>Rutrum beatae dolore curae hendrerit dui pharetra, quis sunt? Luctus do aliquam mollitia quia aliquip dignissimos repudiandae ullamcorper iaculis dolorum.</p>
                        
                        <p>Voluptates quod deserunt nunc eleifend diam proident ullam placeat eaque perspiciatis repellat, aspernatur iste, malesuada quasi excepturi? Sit nobis penatibus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <? include ./partials/footer ?>